html {
    font-family: Helvetica, sans-serif;
}


.icon-wrapper {
    width: 700px;
    margin: 200px auto 0;
}

#icon {
    width: 700px;
}

.clock {
    font-size: 0;
    width: 100%;
    text-align: center;
}

.date {
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

#hours, #separator, #minutes {
    font-size: 200px;
}
